@import "../../../styles.scss";

.infos-form {
  display: block;
  .form-body {
    margin: 0 16px;
    border-radius: 3px;
    background-color: $white;
    padding: 7px;
  }
  .submit-button {
    background-color: #1eda60;
    color: $white;
    border-radius: 25px;
    padding: 5px 30px;
    transition: .5s ease;
    &:hover {
      cursor: pointer;
    }
  }

  .submit-button.disabled {
    background-color: #96dbaf;
  }
}
