<mat-list role="list" class="container">
  <mat-list-item
    role="listitem"
    *ngFor="let item of establishments_getted$ | async"
  >
    <!--Chama a função deste componente(establishment-list.component) -->
    <mat-card
      (click)="sendInfos(item); showHide()"
      (appOnCreateCheck)="validateItem(item)"
    >
      <div class="mat-card-header">
        <div
          mat-card-avatar
          class="header-image"
          style="background-image: url({{item.picture}});"
        ></div>
        <div class="contents">
          <mat-card-title>
            {{ item.name }}
            <span class="item-id">
              {{ item.id }}
            </span>
          </mat-card-title>
          <mat-card-subtitle>
            {{ cutAddress(item.address) }}
          </mat-card-subtitle>
        </div>
      </div>
    </mat-card>
  </mat-list-item>
</mat-list>
